.app {
    height: 90vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: teal;
}


.items {
    font-size: 1.3rem;
    max-height: 60vh;
    overflow: auto;
}

.item {
    border: 0.1rem solid teal;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 20rem;
    max-width: 30rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteIcon {
    fill: #a00404;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.saveIcon {
    fill: teal;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.newTodo {
    display: flex;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}

.newTodo label {
    color: teal;
}

.newTodo input {
    height: 1.8rem;
    width: 15rem;
    border: 0.1rem solid teal;
    border-radius: 0.5rem;
}


.pitechLogo {
    width: 8rem;
    position: fixed;
}